<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="assets/css/home.min.css"/>
    <title>Calculadora com Gulp</title>
</head>
<body>
    <h1>Calculador Gulp</h1>

    <div class="area">
        <input type="number" id="n1">
        +
        <input type="number" id="n2">

        <button id="calcular">Calcular</button>
    </div>

    <div id="resultado"></div>
    
    <a href="sobre.html">Sobre</a>

    <script type="text/javascript" src="assets/js/home.min.js"></script>

</body>
</html>